<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello darkness my ol' fren</title>
</head>

<style>
body{
    background-color: #161920;
}

h1 {
    font-weight: bold;
    font-size: 80px;
    font-family: lexend;
    font-weight: 700;
    color: red;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 40px;
    font-family: lexend;
    color:white;
    text-align: center;
}

p {
    text-align: center;
    color: aliceblue;
    font-size: medium;
    font-family: lexend;
}

</style>

<body>

    <h1>
        Invalid Password
    </h1>

    <h2>
        Please enter the correct password.
        <br>
        <br>

    </h2>
</body>
</html>