<style>
    body {
      background-color: #161920;
      text-align: center;
    }
    
    h1{
      color: red;
      text-align: center;
      font-size: 80px;
    }
    
    .container{
      color: black;
      font-size: 25px;
    }
    
    #textboxid
    {
        height:40px;
        font-size:14pt;
    }
    
    #btn{
      border: none;
      background-color: red;
      border-radius: 40px;
      padding: 10px;
      color: white;
      width: 120px;
      margin-top: 15px;
    }
    </style>
    <body>
      <div class="container">
        <h1><b>Sign Up<b></h1>
    
        <b>NAME<b><br>
        <input type="text" placeholder="Enter name" name="name" id="textboxid" required>
    
        <b><br><br>AGE<b><br>
        <input type="number" placeholder="Enter age" name="age" id="textboxid" required>
    
        <b><br><br>LOCATION<b><br>
        <input type="text" placeholder="Enter location" name="loc" id="textboxid" required>
        
        <b><br><br>BLOOD GROUP<b><br>
        <input type="text" placeholder="Enter blood group" name="bg" id="textboxid" required>    
        
        <br><br><br>
        <button type="button" id="btn">Sign in Now</button>
        </div>
      </div>
    </form>
    
    </body>
    </html>
    
